{% extends "pizzas/base.html" %}

{% block content %}

    <p>Pizza : {{ pizza }}</p>
    {% for i in image %}
    <img src="/media/images/{{ i }}.jpg" width = "500" /> 
    {% endfor %}
    <ul>
        {% for topping in toppings %}
        <li>
            <p>Variation {{ forloop.counter }}:</p>
            <p>{{ topping.text|linebreaks }}</p>
        </li>
        {% empty %}
        <li>No toppings have been decided for this pizza yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}